/*stylesheet*/

 body {
 text-align: center;
 background-color: #04164e;
 font-family: arial;
  color: #000000;
 }
.container {

 margin: auto;
 padding: 20px;

 color: #ffffff;
 text-align: center;
 border: 50px double  #990099;
 border-width: 10px 25px 10px 25px;
 border-radius: 25px;
}
.art {

}

div > span
{
 background-color:#000000;
}
.txt
{
  background-color: #990099;
}
 .ninety
{

    width: 200;
    height: 300;
}
